<div class="bg-content">
  <!-- content -->
  <div id="content">
    <div class="ic"></div>
    <div class="container">
      <div class="row">
        <article class="span8">
          <h3>Developers</h3>
           
          
        </article>
      </div>
    </div>
  </div>
</div>
