<!DOCTYPE html>
<html>
<body>
<h1>Contact US<h1>
<h2>Send e-mail to: Yelppy@gmail.com:</h2>

<form action="mailto:Yelppy@gmail.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>